body{
background-color: rgb(221, 235, 241);
font-family: Arial, Helvetica, sans-serif;
}

footer{
background-color: rgb(222, 225, 226);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}